

.divholder{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height:400px
     
}

.square{
    background-color: grey;
    flex-grow: 1;
    background-clip: padding-box;
    border:1px solid rgb(255, 255, 255);
    box-sizing: border-box; 
}